/EnterpriseApplication1/nbproject/private/
/EnterpriseApplication1/EnterpriseApplication1-war/nbproject/private/
/EnterpriseApplication1/EnterpriseApplication1-ejb/nbproject/private/
/EnterpriseApplication1/EnterpriseApplication1-ejb/dist/
/EnterpriseApplication1/EnterpriseApplication1-ejb/build/
/EnterpriseApplication1/EnterpriseApplication1-war/build/
/Hinges/nbproject/private/
/Hinges/Hinges-war/nbproject/private/
/Hinges/Hinges-ejb/nbproject/private/
/Hinges/Hinges-ejb/build/
/Hinges/Hinges-war/build/
/Hinges/Hinges-ejb/dist/
/Hinges/build/
/Hinges/Hinges-war/dist/